        <h3 class="title with-icon"><span class="fa fa-code icn-title"></span> if(type == "backend"): </h3>
        <div class="box-block">

          <know-list>
            <item-progress name="PHP" percent="90"></item-progress>
            <item-progress name="Python" percent="80"></item-progress>
            <item-progress name="Node.js" percent="65"></item-progress>
            <item-progress name="C" percent="80"></item-progress>
            <item-progress name="C++" percent="70"></item-progress>
            <item-progress name="Go" percent="50"></item-progress>
            <item-progress name="Ruby" percent="75"></item-progress>
            <item-progress name="Java" percent="40"></item-progress>
            <item-progress name="C# .NET" percent="45"></item-progress>
            <item-progress name="Qt" percent="75"></item-progress>
          </know-list>
        </div>
        <div class="deviter"></div>