        <h3 class="title with-icon"><span class="fa fa-table icn-title"></span> if(type == "dba"):</h3>
        <div class="box-block">

          <know-list>
            <item-point name="SQL" percent="90"></item-point>
            <item-point name="MySQL" percent="90"></item-point>
            <item-point name="MS SQL Server" percent="75"></item-point>
            <item-point name="MongoDB" percent="80"></item-point>
            <item-point name="Elastic Search" percent="75"></item-point>
            <item-point name="Couchbase" percent="70"></item-point>
            <item-point name="Redis" percent="70"></item-point>
            <item-point name="Memcached" percent="75"></item-point>
          </know-list>
        </div>
        <div class="deviter"></div>