        <h3 class="title with-icon"><span class="fa fa-desktop icn-title"></span> if(type == "frontend"):</h3>
        <div class="box-block">

          <know-list>
            <item-point name="HTML" percent="80"></item-point>
            <item-point name="CSS" percent="70"></item-point>
            <item-point name="Javascript" percent="80"></item-point>
            <item-point name="jQuery" percent="75"></item-point>
            <item-point name="Angular" percent="60"></item-point>
            <item-point name="Sencha ExtJS" percent="50"></item-point>
          </know-list>
        </div>
        <div class="deviter"></div>