        <h3 class="title with-icon"><span class="fa fa-cloud icn-title"></span> if(type == "infra-it"): </h3>
        <div class="box-block">

          <know-list>
            <item-progress name="Linux Server" percent="90"></item-progress>
            <item-progress name="Windows Server" percent="70"></item-progress>
            <item-progress name="Apache" percent="80"></item-progress>
            <item-progress name="NGINX" percent="75"></item-progress>
            <item-progress name="Varnish" percent="60"></item-progress>
            <item-progress name="Networking" percent="70"></item-progress>
            <item-progress name="Docker" percent="80"></item-progress>
            <item-progress name="VoIP - Asterisk" percent="70"></item-progress>
          </know-list>
        </div>
        <div class="deviter"></div>