<div id="resume" class="tab-pane fade active in">
  <div class="body-content">
    <div class="row">
      <div class="col-md-12">
    <!-- =========
    Start About your self section
    ===================================-->
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="mini-desc">
          <h2 class="title"> SELECT `k.summary` FROM `knowledge`; </h2>
          <p>A lo largo de mi formación académica y mi experiencia profesional he conseguido adquirir conocimientos en un amplio abanico de tecnologías, tanto de desarrollo como en otras áreas, lo cual me permite llevar un proyecto desde cero, logrando encarar exitosamente un solución integral a cualquier problemática.</p>
        </div>
        <div class="mini-desc">
          <h2 class="title"> SELECT `k.description` FROM `knowledge` WHERE `k.type` = 'Developer'; </h2>
          <p>Cuento con una gran experiencia en programación orientada a objectos, mayormente he desarrollado con PHP, en diversas ramas de negocio, tanto desde el rubro de las telecomunicaciones (con Asterisk) como en distintas plataformas de e-commerce.</p>

          <p>Poseo conocimiento en una gran variedad de frameworks y librerías que he utilizado en los proyectos de los que fui partícipe. Además, cuento con expriencia en NodeJS, utilizando socket.io para proveer notificaciones en tiempo real. Utilizo Python en proyectos personales, con programación orientada a eventos.</p>

          <p>Incursioné en desarrollos con Ruby on Rails, para un backoffice de aplicación, junto con una API desarrollada integramente en Go, además de poseer experiencia en desarrollo de aplicaciones de bajo nivel en C y de escritorio en C++ utilizando el framework Qt.</p>

          <p>A nivel frontend tengo experiencia en maquetado con Bootstrap, HTML5 y CSS3, además de buena experiencia en Javascript y jQuery. Poseo conocimientos en el framework ExtJS de Sencha, y Angular, así como también estoy incursionando en el desarrollo de aplicaciones mobile, tanto nativas como híbridas con Ionic.</p>

          <p>Cuento con un amplio conocimiento de las distintas APIs de Redes Sociales, gracias a diversos trabajos de integración realizados con las mismas: Facebook, Twitter, G+, Tumblr, VK, etc.</p>

          <p>He realizado, además, integraciones en plataformas de e-commerce y soluciones personalizadas de los principales medios de pago electrónicos: PayPal, PayU, MercadoPago, TodoPago, Decidir, NPS. También, integraciones con el sistema de Facturación Electrónica de AFIP.</p>

          <p>Me encuentro actualmente incursionando en el Data Analysis, Data Minning y Machine Learning, tomando cursos de estos temas para adentrarme en los mismos.</p>
        </div>
        <div class="mini-desc">
          <h2 class="title"> SELECT `k.description` FROM `knowledge` WHERE `k.type` = 'DevOps'; </h2>
          <p>Poseo experiencia en administración de servidores, tanto Linux como Windows, así como en configuración de los servidores web más populares, Apache, Ngnix e IIS. He configurado, a lo largo de mi experiencia laboral, varios servidores para las aplicaciones de las que participaba en su desarrollo, adquiriendo conocimiento en automatización de diversos procesos de deploy, con Capistrano, y poniendo enfásis en la redundancia, escalabilidad horizontal y performance de las aplicaciones, utilizando diversas herramientas como Varnish o soluciones cloud-based. También cuento con un amplio conocimiento de Networking e Infraestructura de Redes.</p>

          <p>Cuento con amplios conocimientos en Docker y deploy continuo en ambientes cloud y cluster de servidores, enfatizado en la plataforma DC/OS con Mesos y Marathon. Tanto en la instalación y configuración del cluster como en el deploy de aplicaciones dentro del mismo y el mantenimiento dentro de todo su ciclo de vida.</p>
        </div>
        <div class="mini-desc">
          <h2 class="title"> SELECT `k.description` FROM `knowledge` WHERE `k.type` = 'DBA'; </h2>
          <p>En los diversos proyectos de los que he participado, tuve la oportunidad, no solo de utilizar distintas bases de datos relacionales y no relacionales, sino que además, participar en sus procesos de deploy, backup, etc.</p>

          <p>He realizado análisis e implementación de tunning y mejoras de performance solicitadas por los clientes, así como también análisis de rendimiento de soluciones ya implementadas.</p>

          <p>Participé, además, en diversos proyecto de implementación de Data Warehouses para su posterior uso en aplicaciones de data minning.</p>
        </div>
      </div> 
    </div>
    <!-- =========
    End About your self section
    ===================================-->


        <div class="deviter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <know-backend></know-backend>
      </div>
      <div class="col-md-6">
        <know-frontend></know-frontend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <know-infra></know-infra>
      </div>
      <div class="col-md-6">
        <know-dba></know-dba>
      </div>
    </div>
  </div>

</div>