                    <h3 class="title with-icon"><span class="fa fa-coffee icn-title"></span> POST /contact </h3>

                    <!-- =========
                    Start map section
                    ===================================-->
                    <div class="map-area">
                    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                      <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [label]="''"></sebm-google-map-marker>                      
                    </sebm-google-map>                    
                      <div class="info-map">
                        <h3>Contacto</h3>
                        <ul class="list-unstyled list-info">
                          <li><i class="fa fa-home"></i> Donado 2561, Ciudad Autónoma de Buenos Aires, Argentina</li>
                          <li><i class="fa fa-phone"></i> +54 11 5050-3611</li>
                        </ul>
                      </div>
                    <div class="deviter"></div>
                    <br>