        <h3 class="title with-icon"><span class="fa fa-file-text icn-title"></span> show($cursos && $conferencias); </h3>
        <div class="box-block">
          <ul class="list-unstyled list-strip">
            <li><i class="fa fa-check"></i> Microchip Masters Conference Argentina (2013)</li>
            <li><i class="fa fa-check"></i> PHP Conference AR (2013)</li>
            <li><i class="fa fa-check"></i> PHP Conference AR (2014)</li>
            <li><i class="fa fa-check"></i> BarCamp BA (2014)</li>
            <li><i class="fa fa-check"></i> Tercer Congreso Virtual de Microcontroladores y sus Aplicaciones (2014)</li>
            <li><i class="fa fa-check"></i> Meet Magento AR (2015)</li>
            <li><i class="fa fa-check"></i> Microchip Wireless Conference (2015)</li>
            <li><i class="fa fa-check"></i> ArqConf IT (2016)</li>
            <li><i class="fa fa-check"></i> Google - Activate - Cloud Computing (2016)</li>
            <li><i class="fa fa-check"></i> Runlean - Process Improvement (2016)</li>
            <li><i class="fa fa-check"></i> Google - Activate - E-Commerce (2016)</li>
            <li><i class="fa fa-check"></i> Six Sigma - White Bell (2016)</li>
            <li><i class="fa fa-check"></i> Google - Activate - Desarrollo Web (2016)</li>
            <li><i class="fa fa-check"></i> Meet Magento AR (2016)</li>
            <li><i class="fa fa-check"></i> Six Sigma - Yellow Bell (2016)</li>
            <li><i class="fa fa-check"></i> BigData - Apache Spark (2016)</li>
          </ul>
        </div>
