<div id="resume" class="tab-pane fade active in">
  <div class="body-content">
    <div class="row">
      <div class="col-md-8">


        <!-- =========
        Start Time line section
        ===================================-->
        <timeline-work></timeline-work>
        <!-- =========
        End Time line section
        ===================================-->
        <div class="deviter"></div>
        <!-- =========
        Start Time line section
        ===================================-->
        <timeline-education></timeline-education>
        <!-- =========
        End Time line section
        ===================================-->

      </div>
      <div class="col-md-4">
        <h3 class="title with-icon"><span class="fa fa-file icn-title"></span> this.download(); </h3>
        <div class="box-block">
          <p>Puedes decargar mi CV desde aquí</p>
          <a href="/assets/data/cv.pdf" target="_blank" class="btn btn-flat btn-block"><i class="fa fa-download"></i> Descargar</a>
        </div>

        <div class="deviter"></div>

        <mis-cursos></mis-cursos>
        <div class="deviter"></div>

      </div>
    </div>

  </div>

</div>