        <h3 class="title with-icon"><span class="fa fa-book icn-title"></span>
        foreach($educacion as $item): </h3>
        <div class="box-block">
          <div class="time-line">
            <timeline-item 
              [current]="true" 
              date="2017" 
              date2="2010" 
              title="Ingeniería Electrónica" 
              name="Universidad Tecnológica Nacional">
              <p>Actualmente cursando 5to año de la carrera, participando en diversos Proyectos de Investigación sobre áreas de procesamiento digital de señales y robótica.</p>
            </timeline-item>
            <timeline-item 
              date="2009" 
              date2="2004"
              title="Técnico Electrónico" 
              name="Escuela de Educación Técnica Nº6">
              <p>Graduado de un colegio secundario técnico con honores y habiendo participado en varias actividades extra curriculares durante mi educación secundaria.</p>
            </timeline-item>            
          </div>
        </div>
