        <h3 class="title with-icon"><span class="glyphicon glyphicon-plane icn-title"></span> foreach($experiencia-laboral as $item): </h3>
        <div class="box-block">
          <div class="time-line">
            <timeline-item 
              [current]="true" 
              date="2017" 
              date2="2015" 
              title="Team Leader / Analista Desarrollador Sr / E-commerce" 
              name="Softtek">
              <p>Coordinador y Scrum Master de un equipo de desarrollo y soporte multitecnología, especializado en el negocio e-commerce.</p>
              <p>Encaragado del desarrollo, testeo y planificación de diversas herramientas de integración para importantes medios de pago electrónicos, SPS Decidir y TodoPago de Prisma Medios de Pago SA (Visa)</p>
              <p>Experiencia en desarrollo de SDK y Plugins en diversos lenguajes y frameworks.</p>
              <p>-PHP, Python, Ruby, NodeJS, Java, .NET</p>
              <p>-Magneto 1 y 2, Woocomerce, PrestaShop, OsCommerce, OpenCart, VirtueMart, ZenCart, Drupal Commerce, JigoShop, WPeCommerce, NopCommerce.</p>
            </timeline-item>
            <timeline-item 
              date="2015" 
              date2="2014"
              title="Analista Desarrollador SemiSr / PHP - MySQL - VoIP" 
              name="Netlabs IT Solutions SRL">
              <p>Desarrollador PHP5 SemiSr / MySQL con orientación en VoIP (Asterisk), ISP, PPPoE, Servicios de Hosting, Email.</p>
              <p>Desarrollos de sistemas integrales para la gestión en tiempo real de una amplia infraestructura de servicios.</p>
              <p>Tecnologías principales: PHP, HTML, CSS, ExtJS, Doctrine, MySQL, MongoDB, NodeJS, jQuery, Asterisk.</p>
            </timeline-item>            
            <timeline-item 
              date="2013" 
              date2="2011"
              title="Analista Desarrollador SemiSr / PHP - MySQL - Qt - C++" 
              name="Mana Desarrollos">
              <p>Desarrollo de diversos sistemas llave en mano para las áreas de Sistemas y de Recursos Humanos de Diagnóstico Maipú SRL.</p>
              <p>Análisis, diseño e implementación desde cero a producción.</p>
              <p>Tecnologías principales: PHP, HTML, CSS, MySQL, Qt, C++, GNU/Linux</p>
            </timeline-item>
            <timeline-item 
              date="2013" 
              date2="2012" 
              title="SysAdmin / Desarrollador / VisualFox Pro - (T)SQL - ASP" 
              name="Universidad Tecnológica Nacional">
              <p>Mantenimiento, Implementación de funcionalidades, Optimización de recursos, tareas varias en Visual Fox Pro, SQL Server, y web en PHP5 (OOP) y ASP.</p>
              <p>Mantenimiento, implementación y diseño de ETL para Datawarehouse. Responsabilidades de SysAdmin. Administración de Servidores (Microsoft y Linux). Administración de Infraestructura de Redes.</p>
            </timeline-item>
            <timeline-item 
              date="2011" 
              title="Ayudante de Cátedra - Informática I" 
              name="Universidad Tecnológica Nacional">
              <p>Ayudante de 2da categoría en la Cátedra de Informática I. Departamento de Ingeniería Electrónica, Facultad Regional Buenos Aires.</p>
            </timeline-item>
            <timeline-item 
              date="2009" 
              title="Mantenimiento de Laboratorios" 
              name="Escuela de Educación Técnica Nº6">
              <p>Mantenimiento y revisión de equipos y herramientas electrónicos en laboratorios y talleres en la Escuela de Educación Técnica Nº6, San Nicolás de los Arroyos, Buenos Aires.</p>
            </timeline-item>
          </div>
        </div>
