<div id="wrapper">
	<div class="container" >
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<header class="portrait">
				  <div class="bg-line"></div>
				  <div class="body-portrait">

				    <!-- =========
				    Start Note Slider
				    ===================================-->
				    <my-slider></my-slider>
				    <!-- =========
				    End Note Slider
				    ===================================-->

				    <!-- =========
				    Start portrait image Section
				    ===================================-->
				    <div class="portrait-img-area">
				      <img src="https://media.licdn.com/media/p/4/000/1a9/2a8/19db7c5.jpg" alt="avatar" class="avatar"/>
				      <div class="profile-links">
				        <a href="https://github.com/drarko" target="_blank" class="facebook"  data-toggle="tooltip" data-placement="left" title="Github"><i class="fa fa-github-square"></i></a>
				        <a href="https://www.linkedin.com/in/mauricio-nelo-ghiorzi-mendoza-2151601b/" target="_blank" class="twitter"  data-toggle="tooltip" data-placement="right" title="Linkedin"><i class="fa fa-linkedin"></i></a>
				      </div>
				    </div>
				    <!-- =========
				    End  portrait image Section
				    ===================================-->

				    <!-- =========
				    Start Show Yor Name Section
				    ===================================-->
				    <h1 class="name">Mauricio Ghiorzi <small>Full Stack Developer / DevOps Specialist</small></h1>
				    <img *ngIf="isShow()" src="assets/images/arrow-down.png" alt="" class="img-arrow">
				    <a [class.active]="isShow()" (click)="toggleContent(isShow())" class="btn btn-flat ">self.about()</a>
				    <img *ngIf="isShow()" src="assets/images/arrow-down.png" alt="" class="img-arrow">
				    <!-- =========
				    Start Show Yor Name Section
				    ===================================-->

				  </div>
 				</header>

 				<content-main *ngIf="isShow()"></content-main>

                <footer class="footer">
    	        </footer>
    
			</div>
		</div>
	</div>
</div>