                      <li style="display: inline-block;  opacity: 1;" class="mix webdesign mix_all">
                        <div class="item-portfolio">
                          <a href="{{link}}" target="_blank" class="preview-portfolio imgWrapper image-popup">
                            <div class="mask"><div class="icn-center"><i class="fa fa-briefcase "></i></div></div>
                            <img style="opacity: 1; filter: none;" src="{{image}}" alt="" class="img-responsive">
                          </a>
                          <div class="desc-portfolio"><h5>{{title}} <small> <ng-content></ng-content></small></h5></div>
                        </div>
                      </li>