      <div class="col-md-6">
        <h3 class="title with-icon"><i class="fa fa-check-square-o icn-title"></i> statistics.show(); </h3>
        <div class="box-fact-area">
          <div class="row">
            <div class="col-sm-6">
              <div class="box-fact">
                <i class="fa fa-star icn-fixed"></i> 20 Proyectos completados
              </div>
            </div>
            <div class="col-sm-6">
              <div class="box-fact">
                <i class="fa fa-smile-o icn-fixed"></i> 8 Clientes satisfechos
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="box-fact">
                <i class="fa fa-user icn-fixed"></i> 2 Equipos liderados
              </div>
            </div>
            <div class="col-sm-6">
              <div class="box-fact">
                <i class="fa fa-users icn-fixed"></i> 7 Personas a cargo
              </div>
            </div>
          </div>
        </div>
      </div>
