      <div class="col-md-6">
        <h3 class="title with-icon"><i class="fa fa-credit-card icn-title"></i> auth.user.getData(); </h3>
        <div class="identity-area">
          <div class="row">
            <div class="col-sm-4"><label>Nombre y Apellido</label></div>
            <div class="col-sm-8"> Mauricio Ghiorzi</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Fecha de Nacimiento</label></div>
            <div class="col-sm-8"> 19 de Agosto de 1991</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Dirección</label></div>
            <div class="col-sm-8"> Agustín Donado 2561, Ciudad Autónoma de Buenos Aires, Argentina</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Teléfono</label></div>
            <div class="col-sm-8"> +54 11 5050-3611</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Email</label></div>
            <div class="col-sm-8"> <a href="" (click)="$event.preventDefault();goToContact()">mauriciog@devteam.com.ar</a></div>
          </div>
        </div>
      </div>