<div id="about" class="tab-pane  fade in  active">
  <div class="body-content">

  	<about-myself></about-myself>
    <!-- =========
    Start List Indentity and services your self  section
    ===================================-->
    <div class="deviter"></div>
    <div class="row">
      <identity-card></identity-card>
      <my-lang></my-lang>
    </div>
    <!-- =========
    End List Indentity and services your self section
    ===================================-->


    <!-- =========
    Start List fact your self section
    ===================================-->
    <div class="deviter"></div>
    <div class="row">
      <the-facts></the-facts>
      <my-rec></my-rec>
    </div>
    <!-- =========
    End List fact your self section
    ===================================-->

    <!-- =========
    Start List your  client  and testimonial section
    ===================================-->
    <div class="deviter"></div>
    <div *ngIf="false" class="row">
      <div class="col-md-6">
        <h3 class="title with-icon "><i class="fa fa-users icn-title"></i> Client</h3>
        <div class="box-block">
          <ul class="list-unstyled list-clients clearfix">
            <li><a href="#"><img src="assets/images/client/client.png" alt="" class="img-responsive"></a></li>
            <li><a href="#"><img src="assets/images/client/client.png" alt="" class="img-responsive"></a></li>
            <li><a href="#"><img src="assets/images/client/client.png" alt="" class="img-responsive"></a></li>
            <li><a href="#"><img src="assets/images/client/client.png" alt="" class="img-responsive"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- =========
    End List your  client  and testimonial section
    ===================================-->

  </div>
</div>