    <!-- =========
    Start About your self section
    ===================================-->
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="https://media.licdn.com/media/p/4/000/1a9/2a8/19db7c5.jpg" alt="avatar" class="img-responsive img-profile">
      </div>
      <div class="col-md-9">
        <div class="mini-desc">
          <h2 class="title"> hello_world(); </h2>
          <p>Soy un profesional, con una fuerte pasión por crear soluciones, investigación y experimentación con las últimas tecnologías, en búsqueda permanente de nuevos desafíos donde poner a prueba mis conocimientos y experiencia adquirida.</p>
          <p>La formación continua es un hábito adquirido, siempre me mantengo actualizado en las últimas tendencias tecnológicas, junto con el trabajo en equipo y la mejora continua son pilares que me permiten llevar adelante diversos proyectos en muy variados ámbitos.</p>
        </div>
      </div>
    </div>
    <!-- =========
    End About your self section
    ===================================-->
